{% extends "base.html" %}
{% block content %}
    <h1>{{ userprofile }}</h1>
    <div ng-app="charts">
        <div ng-controller="Commands">
            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <table id="date_filter">
                        {{ form.as_table }}
                    </table>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <button ng-click="test()">Recharger</button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-sm-12" id="pie-chart" ng-controller="PieCtrl">

                  <div class="panel panel-default">
                    <div class="panel-heading">Pie Chart</div>
                    <div class="panel-body">
                      <canvas id="pie" class="chart chart-pie chart-xs" chart-data="data" chart-labels="labels"></canvas>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Les dernières tâches effectuées</h2>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Tâche</th>
                <th>Date d'éxecution</th>
                <th>Durée</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_to_do %}
                <tr>
                    <td><a href="{% url "tasks:detail" task.id %}">{{ task }}</a></td>
                    <td>{{ task.execution_date }}</td>
                    <td>{{ task.duration }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Toutes les tâches</h2>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Tâche</th>
                <th>Date d'éxecution</th>
                <th>Durée</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_list_page %}
                <tr>
                    <td><a href="{% url "tasks:detail" task.id %}">{{ task }}</a></td>
                    <td>{{ task.execution_date }}</td>
                    <td>{{ task.duration }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if task_list_page.has_previous %}
                <a href="?page={{ task_list_page.previous_page_number }}">Précédente</a>
            {% endif %}

            <span class="current">
                Page {{ task_list_page.number }} sur {{ task_list_page.paginator.num_pages }}.
            </span>

            {% if task_list_page.has_next %}
                <a href="?page={{ task_list_page.next_page_number }}">Suivante</a>
            {% endif %}
        </span>
    </div>


    <script type="text/javascript">

    (function() {

        angular.module("charts", ["chart.js"])
            .config(['ChartJsProvider', function (ChartJsProvider) {
                ChartJsProvider.setOptions({
                    colours: ['#FF5252', '#FF8A80'],
                    responsive: false
                });
                ChartJsProvider.setOptions('Line', {
                    datasetFill: false
                });
            }])

            .controller("Commands", function ($scope, $http) {
                $scope.test = function () {
                    $scope.$broadcast(
                        "updateFilters", 
                        {'start' : $scope.start, 'end' : $scope.end}
                        );
                };

            })

            .controller("PieCtrl", function ($scope, $http) {
                $scope.labels = [];
                $scope.data = [];

                $scope.draw_graph = function(start, end) {
                    url = '{% url "users:repartition_project" userprofile.id %}';
                    if (start && end) {
                        url+="_"+start+"_"+end;
                    }
                    $http({
                        method: 'GET',
                        url: url
                    })
                    .then(function successCallback(response) {
                        // Empty array if populated
                        if ($scope.labels.length) {
                            $scope.labels = [];
                            $scope.data = [];
                        }
                        angular.forEach(JSON.parse(response.data), function(value, key) {
                            $scope.labels.push(value.project__name)
                            $scope.data.push(value.duration_sum)
                        });
                    }, function errorCallback(response) {
                        alert(response);
                    });
                };

                $scope.$on("updateFilters", function(evt, value) {
                    if (value.end && value.start) {
                        if (value.end.match(/^(\d{4}-\d{2}-\d{2})$/) &&
                            value.start.match(/^(\d{4}-\d{2}-\d{2})$/)) {
                            $scope.draw_graph(value.start, value.end);
                        }
                    }
                })

                $scope.draw_graph();

            })
        ;
    })();

    </script>
{% endblock %}