{% extends "base.html" %}
{% block content %}
    <h1>{{ userprofile }}</h1>
    <div ng-app="charts">
        <div ng-controller="Commands">
            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <table id="date_filter">
                        {{ form.as_table }}
                    </table>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <button class="btn btn-primary" ng-click="reload()">Recharger</button>
                    <button class="btn btn-primary" ng-click="export_csv()">Export CSV</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6" ng-controller="temps_projet">
                  <div class="panel panel-default" ng-if="show">
                    <div class="panel-heading">Temps passé sur les projets</div>
                    <div class="panel-body">
                      <canvas class="chart chart-pie chart-xs" chart-data="data" chart-labels="labels"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6" ng-controller="temps_type">
                  <div class="panel panel-default" ng-if="show">
                    <div class="panel-heading">Temps passé sur les types de tâche</div>
                    <div class="panel-body">
                      <canvas class="chart chart-pie chart-xs" chart-data="data" chart-labels="labels"></canvas>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Les dernières tâches effectuées</h2>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Tâche</th>
                <th>Date d'éxecution</th>
                <th>Durée</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_to_do %}
                <tr>
                    <td><a href="{% url "tasks:detail" task.id %}">{{ task }}</a></td>
                    <td>{{ task.execution_date }}</td>
                    <td>{{ task.duration }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Toutes les tâches</h2>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Tâche</th>
                <th>Date d'éxecution</th>
                <th>Durée</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_list_page %}
                <tr>
                    <td><a href="{% url "tasks:detail" task.id %}">{{ task }}</a></td>
                    <td>{{ task.execution_date }}</td>
                    <td>{{ task.duration }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if task_list_page.has_previous %}
                <a href="?page={{ task_list_page.previous_page_number }}">Précédente</a>
            {% endif %}

            <span class="current">
                Page {{ task_list_page.number }} sur {{ task_list_page.paginator.num_pages }}.
            </span>

            {% if task_list_page.has_next %}
                <a href="?page={{ task_list_page.next_page_number }}">Suivante</a>
            {% endif %}
        </span>
    </div>


    <script type="text/javascript">

    (function() {

        angular.module("charts", ["chart.js"])
            .config(['ChartJsProvider', function (ChartJsProvider) {
                ChartJsProvider.setOptions({
                    colours: ['#FF5252', '#FF8A80'],
                    responsive: false
                });
                ChartJsProvider.setOptions('Line', {
                    datasetFill: false
                });
            }])

            .controller("Commands", function ($scope, $http, $window) {
                $scope.reload = function () {
                    $scope.$broadcast(
                        "updateFilters",
                        {'start' : $scope.start, 'end' : $scope.end}
                        );
                };

                $scope.export_csv = function () {
                    if ($scope.end && $scope.start) {
                        if ($scope.end.match(/^(\d{4}-\d{2}-\d{2})$/) &&
                            $scope.start.match(/^(\d{4}-\d{2}-\d{2})$/)) {
                            url = '{% url "users:export_csv" userprofile.id %}';
                            if ($scope.start && $scope.end) {
                                url+="_"+$scope.start+"_"+$scope.end;
                            }
                            $window.open(url);
                        }
                    }
                };
            })

            .controller("temps_projet", function ($scope, $http) {
                $scope.labels = [];
                $scope.data = [];
                $scope.show = false;

                $scope.draw_graph = function(start, end) {
                    url = '{% url "users:repartition_project" userprofile.id %}';
                    if (start && end) {
                        url+="_"+start+"_"+end;
                    }
                    $http({
                        method: 'GET',
                        url: url
                    })
                    .then(function successCallback(response) {
                        // Empty array if populated
                        if ($scope.labels.length) {
                            $scope.labels = [];
                            $scope.data = [];
                        }
                        labels_list = [];
                        data_list = [];
                        $scope.show = true;
                        angular.forEach(JSON.parse(response.data), function(value, key) {
                            if (!value.project__name || !value.duration_sum) {
                                $scope.show = false;
                            }
                            labels_list.push(value.project__name);
                            data_list.push(value.duration_sum);
                        });

                        if($scope.show) {
                            $scope.labels = labels_list;
                            $scope.data = data_list;
                        }

                    }, function errorCallback(response) {
                        alert(response);
                    });
                };

                $scope.$on("updateFilters", function(evt, value) {
                    if (value.end && value.start) {
                        if (value.end.match(/^(\d{4}-\d{2}-\d{2})$/) &&
                            value.start.match(/^(\d{4}-\d{2}-\d{2})$/)) {
                            $scope.draw_graph(value.start, value.end);
                        }
                    }
                })

                $scope.$on('create', function () {
                    $scope.loaded = true;
                });

                $scope.draw_graph($scope.start, $scope.end);

            })

            .controller("temps_type", function ($scope, $http) {
                $scope.labels = [];
                $scope.data = [];
                $scope.show = false;

                $scope.draw_graph = function(start, end) {
                    url = '{% url "users:repartition_temps" userprofile.id %}';
                    if (start && end) {
                        url+="_"+start+"_"+end;
                    }
                    $http({
                        method: 'GET',
                        url: url
                    })
                    .then(function successCallback(response) {
                        // Empty array if populated
                        if ($scope.labels.length) {
                            $scope.labels = [];
                            $scope.data = [];
                        }
                        labels_list = [];
                        data_list = [];
                        $scope.show = true;
                        angular.forEach(JSON.parse(response.data), function(value, key) {
                            if (!value.task_type__name || !value.duration_sum) {
                                $scope.show = false;
                            }
                            labels_list.push(value.task_type__name);
                            data_list.push(value.duration_sum);
                        });

                        if($scope.show) {
                            $scope.labels = labels_list;
                            $scope.data = data_list;
                        }

                    }, function errorCallback(response) {
                        alert(response);
                    });
                };

                $scope.$on("updateFilters", function(evt, value) {
                    if (value.end && value.start) {
                        if (value.end.match(/^(\d{4}-\d{2}-\d{2})$/) &&
                            value.start.match(/^(\d{4}-\d{2}-\d{2})$/)) {
                            $scope.draw_graph(value.start, value.end);
                        }
                    }
                })

                $scope.$on('create', function () {
                    $scope.loaded = true;
                });

                $scope.draw_graph($scope.start, $scope.end);

            })
        ;
    })();

    </script>
{% endblock %}